
/*Globales*/
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.rosita {
    color:rgb(224, 189, 220);
}
html {
    font-size: 10px;
    color: #000;
    scroll-behavior: smooth;
    font-family: 'Prompt', sans-serif;
}

body {
    overflow-x: hidden;
    background-image: url();
}

section {
    padding: 3.9rem 0;
    overflow: hidden;
}

img {
    width: 100%;
    max-width: 100%;
}

a {
    text-decoration: none;
}

p {
    font-size: 1.6rem;
}

.container {
    width: 100%;
    max-width: 122.5rem;
    margin:  0 auto;
    padding: 0 2.4rem;
}

/*Header*/
header {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: linear-gradient(to bottom, rgba(0,0,0,.5), transparent);
}
.nav {
    height: 7.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-toggle {
    color: #fff;
    font-size: 2.2rem;
    position: absolute;
    transform: translateY(-50%);
    right: 2.5rem;
    cursor: pointer;
    z-index: 1500;
}

.imagenlogo {
    height: 200px;
    width: 200px;
}

.fa-times {
    display: none;
}

.nav-list {
    list-style: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 80%;
    height: 100vh;
    background-color: #252525;
    padding: 4.4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index: 1250;
    transform: translateX(-100%);
   
}

.nav::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, .8);
    z-index: 1000;
    opacity: 0;
    transform: scale(0);
    transition: opacity .5s;

}

.open .fa-times {
    display: block;
}

.open .fa-bars {
    display: none;
}

.open .nav-list {
    transform: translateX(0);
}
.open .nav::before{
    opacity: 1;
    transform: scale(1);
}

.logo {
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
}

.nav-item {
    border-bottom: 2px solid rgba(255, 255, 255, .3);
}

.nav-link {
    display: block;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.6rem;
    letter-spacing: 2px;
    margin-right: -2px;
}

.nav-link:hover {
    color: #3bcc75;
}

/*Hero*/


.hero {
    width: 100%;
    height: 70vh;
    background: url("../images/hero.jpg") center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
}

.h2-sub {
    font-size: 3rem;
    color: rgb(199, 194, 194);
    font-weight: 600;
    line-height: .4;
}

.fil {
    text-transform: uppercase;
    font-size: 3rem;
}

.head {
    margin-top: -2vh;
    font-size: 3.7rem;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: .5rem;
}

.circle {
    font-size: 1.5rem;
    color: #3bcc75;
    margin: 0 1.6rem;
}

.he-des h5 {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 100;
    margin-bottom: 1.2rem;
    letter-spacing: 3px;
    margin-right: -3px;
}

.btn {
    display: inline-block;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    margin-right: -2px;
}

.cta-btn {
    margin-top: 3vh;
    font-size: 1.5rem;
    background-color: rgb(78, 76, 76);
    padding: 1.2rem 2rem;
    color: white;
    border-radius: .4rem;
}
.cta-btn:hover,
.cta-btn:focus {
    color: #fff;
    background-color: #111211;
}


.global {
    text-align: center;
    margin-top: 3.9rem;
}

.dis-sto .global {
    margin-top: 6.9rem;
}
.dis-sto {
    width: 100%;
    padding: 0 auto;
    margin:auto 0;
}
.global .circle {
    color: #3bcc75;
    margin: 2.4rem 0;
}

.hea-dark {
    color: #252525;
    letter-spacing: .7rem;
    margin-right: -.7rem;
}

.global .h2-sub {
    letter-spacing: -1px;
    line-height: .42;
}

.res-info {
    text-align: center;
}

.res-des {
    margin-bottom: 3rem;
}

.res-des p {
    line-height: 1.6;
    margin-bottom: 2.4rem
}


/*menu*/

.taste {
    background: url("../images/taste.jpg") center no-repeat;
    background-size: cover;
}

.bt {
    min-height: 65vh;
    display: flex;
    align-items: center;
}


/*platillos*/

.image-group {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
}

.disco .res-des {
    padding-top: 3rem;
    margin-bottom: 0;
}

.pb {
    background: url("../images/mesa.jpg") center no-repeat;
    background-size: cover;
}


/*footer*/
footer {
    padding: 5vh;
    background-color: #121212;
    color: #fff;
    display: flex;
}

.footer-content {
    display: flex;
    color: white;
    justify-content: center;
}

.footer-content h4 {
    font-size: 1.9rem;
    text-transform: uppercase;
    font-weight: 100;
    letter-spacing: 3px;
    margin-bottom: 3rem;
}

.footer-content .circle{
    margin: 2.4rem 0;
}

.footer-content-about {
    margin-bottom: 5.4rem;
}

.footer-content-about p {
    line-height: 2;
}

.social-icons {
    margin-top: 10vh;
    list-style: none;
    margin-bottom: 5.4rem;
    display: flex;
    justify-content: center;
}

.social-icons i {
    font-size: 2rem;
    color: rgb(255, 255, 255);
    padding: .8rem 2rem;
    
}

.social-icons i:hover,
.social-icons i:focus {
    color: #ffc845;
}

.news-form {
    position: relative;
    display: flex;
    justify-content: center;
}

.comentarios {
    font-size: 20px;
    color: black;
}

.news-input {
    width: 100%;
    background-color: rgb(255,255,255);
    max-width: 25rem;
    padding: 1rem;
    border-radius: .4rem;
}
.news-btn {
    background: transparent;
    border: none;
    color: #070707;
    cursor: pointer;
    font-size: 1.6rem;
    padding: 1px .6rem;
    position: absolute;
    top: 30%;
    margin-left: 30.5rem;
}

.mision-vision {
    display: flex;
    width: 100%;
    justify-content: center;
}
.mision-titulo, .vision-titulo {
    color:white;
    font-size:40px;
    text-align: center;
}
.mision, .vision {
    width: 100%;
    opacity: 0.5;
}
.mision {
    background-image: url("../imagenes/Mision.jfif");
}
@keyframes aparecer {
    from {
        opacity: 0.5;
        width: 100%;
    } to {
        opacity: 1;
        width: 150%;
    }
}
.mision:hover {
    animation: aparecer 1s;
    animation-fill-mode: both;
}
.vision:hover {
    animation: aparecer 1s;
    animation-fill-mode:both;
}
.vision {
    background-image: url("../imagenes/vision.jfif");
}
.mision-texto, .vision-texto{
    padding: 0 32px;
    text-align: justify;
    color:white;
}
@media screen and (min-width: 900px) {

    section {
        padding: 7.9rem;
    }

    .menu-toggle {
        display: none;
    }

    .nav {
        justify-content: space-between;
    }

    .nav-list {
        position: initial;
        width: initial;
        height: initial;
        background-color: transparent;
        padding: 0;
        justify-content: initial;
        flex-direction: row;
        transform: initial;
        transition: initial;
    }

    .nav-item {
        margin: 0 2.4rem;
    }

    .nav-item:last-child {
        margin-right: 0;
    }

    .nav-link {
        font-size: 1.3rem;
    }

    .active {
        position: relative;
    }
    .active::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 2px;
        background-color: #fff;
        left: 0;
        bottom: -3px;
    }

    .h2-sub {
        font-size: 3rem;
    }

    .fil {
        font-size: 3rem;
    }
    .head {
        font-size: 4.7rem;
        letter-spacing: .8rem;
    }

    .res-info {
        display: flex;
        align-items: center;
    }

    .res-info > div {
        flex: 1;
    }

    .footer-content {
        margin: auto;
    }

    .footer-content-about {
        max-width: 51.3rem;
        margin:  0 auto 5.4rem;
    }

    .footer-div{
        display: flex;
        justify-content: space-between;
    }

    .social-media,
    .news-form {
        width: 100%;
        margin: 0 1rem;
    }

   .news-btn {
       margin-left: 7.5rem;
   }
    
}
.content-members{
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card{
    width: 30%;
    text-align: center;
    height: 450px;
    box-shadow: 0 0 3px 0 rgba(100, 209, 109, 0.5);
    transform: scale(1);
    transition: transform 0.6s;
}
article.card {
    background: #ffe;
    border-radius: 0.5rem;
}
.card:hover{
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .5);
    transform: scale(1.03);
    cursor: pointer;
}

.card i{
    margin: 30px 0 20px 0;
    color: #595c29;
    font-size: 50px;
}

.card p{
    font-weight: 300;
    font-size: 25px;
    margin-bottom: 10px;
}
.card-img1 {
    display: block;
    width: 100%;
    height: 60%;
    background-image: url("../imagenes/Ana.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5%;
}
.card-img2 {
    display: block;
    width: 100%;
    height: 60%;
    background-image: url("../imagenes/Ximena.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5%;
}
.card-img3 {
    display: block;
    width: 100%;
    height: 60%;
    background-image: url("../imagenes/Alejandra.jfif");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 5%;
}
.boton-modal {
    padding: 0 0 0 0;
}

.boton-modal label {
    padding: 10px 15px;
    background-color: rgb(184, 183, 183);
    color: black;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}

.boton-modal label:hover{
    background-color: rgb(126, 126, 126);;
}

#btn-modal{
    display: none;
}

.container-modal{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(144, 148, 150, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
#btn-modal:checked ~ .container-modal {
    display: flex;
}
.content-modal{
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 4px;
}

.content-modal h2{
    margin-bottom: 15px;
}

.content-modal p{
    padding: 15px 0px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}

.content-modal .btn-cerrar{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}

.content-modal .btn-cerrar label {
    padding: 7px 10px;
    background-color: rgb(184, 183, 183);
    color: black;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}

.content-modal .btn-cerrar label:hover{
    background-color: rgb(123, 123, 123);;
}

.cerrar-modal {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0; left: 0;
    z-index: -1;
}



.boton-modal1 {
    padding: 20px;
}

.boton-modal1 label {
    padding: 10px 15px;
    background-color: rgb(184, 183, 183);
    color: black;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}

.boton-modal1 label:hover{
    background-color: rgb(126, 126, 126);;
}

#btn-modal1{
    display: none;
}

.container-modal1{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(144, 148, 150, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
#btn-modal1:checked ~ .container-modal1 {
    display: flex;
}
.content-modal1{
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 4px;
}

.content-modal1 h2{
    margin-bottom: 15px;
}

.content-modal1 p{
    padding: 15px 0px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}

.content-modal1 .btn-cerrar1{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}

.content-modal1 .btn-cerrar1 label {
    padding: 7px 10px;
    background-color: rgb(184, 183, 183);
    color: black;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}

.content-modal1 .btn-cerrar1 label:hover{
    background-color: rgb(123, 123, 123);;
}

.cerrar-modal1 {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0; left: 0;
    z-index: -1;
}



.boton-modal2 {
    padding: 20px;
}

.boton-modal2 label {
    padding: 10px 15px;
    background-color: rgb(184, 183, 183);
    color: black;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}

.boton-modal2 label:hover{
    background-color: rgb(126, 126, 126);;
}

#btn-modal2{
    display: none;
}

.container-modal2{
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0; left: 0;
    background-color: rgba(144, 148, 150, 0.8);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 100;
}
#btn-modal2:checked ~ .container-modal2 {
    display: flex;
}
.content-modal2{
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: white;
    border-radius: 4px;
}

.content-modal2 h2{
    margin-bottom: 15px;
}

.content-modal2 p{
    padding: 15px 0px;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}

.content-modal2 .btn-cerrar2{
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}

.content-modal2 .btn-cerrar2 label {
    padding: 7px 10px;
    background-color: rgb(184, 183, 183);
    color: black;
    border-radius: 4px;
    cursor: pointer;
    transition: all 300ms ease;
}

.content-modal2 .btn-cerrar2 label:hover{
    background-color: rgb(123, 123, 123);;
}

.cerrar-modal2 {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0; left: 0;
    z-index: -1;
}